body {
  font-family: sans-serif;
}

h1 {
  font-size: x-large;
  font-weight: normal;
}

.new {
  background-color: lightyellow;
}

.description {
  font-size: smaller;
  color: silver;
}

.line {
  height: 18px;
  background-color: #B6DA8C;
}

.line-diagonal {
  height: 18px;
  background-color: #F1E49B;
}

.line-price {
  height: 18px;
  background-color: #8070A5;
}

.line-ppi-cost {
  height: 18px;
  background-color: #D086A3;
}

.box-resolution {
  background-color: #D6C66C;
}

.ppi {
  text-align: right;
}
.ppi .value {
  font-weight: bold;
}

.offers {
  text-align: right;
}

.offers_count {
  color: silver;
}

.price {
  font-weight: bold;
}

.price_diff {
  text-align: right;
}

.negative {
  color: darkgreen;
}

.positive {
  color: darkred;
}

.ppi_cost {
  padding-left: 1em;
  text-align: right;
}

.source {
  margin-top: 1em;
  font-size: small;
}
.source * {
  color: silver;
}

.last_update {
  position: absolute;
  top: 3px;
  right: 5px;
  color: silver;
  font-size: x-small;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

